html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fcc439;
    width: 100%;
    min-width: 850px;
    padding-bottom: 5px;
    z-index: 2;

}


.home h1 {
    color: #373250;
}
.home {
    text-decoration: none;
}


.row:after {
    clear: both;
    content: "";
    display: table;
}

.column {
    float: left;
    width: 33.3%;
    min-width: 450px;
    height: 750px;
    background-color: #ffffff;
    border: solid;
    border-color: #FFF49E;
    border-width: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.column img {
    width: 100%;
    height: auto;
}



.favorite {
    background-color: #FFF49E;
    margin: 0;
    height: 750px;
    margin-top: 5%;
    margin-bottom: 3%;

}

.favorite p {
    color: #373250;
    font-size: 200%;
}

.favorite h1 {
    font-size: 400%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav {
    color: #FFF49E;
    float: left;
    margin-right: auto;
    background-color: #373250;
    width: 200px;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-right: 40px;
    text-indent: 0;
    line-height: 20px;
}
.nav a{
    color: #dddddd;
    text-decoration: none;

}
.nav h1 {
    padding-left: 25px;
}
.nav li{
    margin: 10px 0;
}
.hometext {
    margin-top: 50px;
    margin-left: auto;
    background-color: #FFF49E;
    font-size: larger;
    width: 730px;
    padding: 50px;
    padding-top: 50px;
    height: 260px;
}
.hometext img {
    position:relative;
    margin: 5px;
    float: right;
}
.centervideo {
    margin: 0 auto;
    display:flex;
}

header h1 {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    color: rgb(111, 111, 111);
}

.bodytext {
    background-color: #efe1ba;
}
.withnav {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    font-size: larger;
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
    height: auto;
    font-family: 'Roboto Condensed', sans-serif;
    text-indent: 15px;
    letter-spacing: 1px;
}

.field {
    background-color: snow;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    font-size: larger;
    padding: 10px;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
}
.text {

    line-height: 25px;
    letter-spacing: 0.5px;
}
.text p {
    padding-left: 20px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    background-color: rgb(0, 0, 0, 0.2);
    padding: 15px;
}

.text table {
    border-collapse: collapse;
    width: 100;
    margin: 25px;
}

.text td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.text tr:nth-child(even) {
    background-color: #dddddd;
}

.text li {
    padding: 1px;
}
.text ul {
    padding: 5px;
}
.text ol {
    padding: 5px;
}
footer {
    margin: 100px;
}


.field img {
    float: right;
}

.field h1 {
    text-align: center;
}

.headerlinks {
    position: absolute;
    right: 50px;
    margin-left: 50%;
}

.headerlinks a{
    color: rgb(111, 111, 111);
    text-decoration: none;
    transition: 1s;
}
.headerlinks a:hover {
    color: #fe8f35;
}

.linktoart {
    margin-top: 50px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#bigbutton
{
    color: white;
    background-color: #fe8f35;
    border: 3px solid #fe8f35;
    border-radius: 19px;
    padding: 15px;
    transition: 0.3s;
}
#bigbutton:hover {
    color: black;
    transition: 0.5s;
}

.glass {
    border-right: 1px solid gray;
    width: 70px;
    height: 70px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

